Repository davidzoufaly/finance-mgn: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck, lint

lefthook.yml:

#   Refer for explanation to following link:
#   https://lefthook.dev/configuration/

commit-msg:
  jobs:
    - run: yarn commitlint --edit "$1" --config ./config/commitlint.config.mjs

pre-commit:
  parallel: false
  commands:
    biome:
      run: |
        biome check --apply {staged_files}
        git add {staged_files}

    typecheck:
      glob: "*.{ts,tsx}"
      run: yarn typecheck

    lint:
      glob: "*.{js,mjs,cjs,ts,tsx,json,md,yaml}"
      run: yarn lint:fix

feat: llm generic prompt updated to clasify transactions when there are none
  src/static/prompts/generic-prompt.txt
Due: none

feat: llm generic prompt updated to clasify transactions when there are none (#87)
  src/static/prompts/generic-prompt.txt
Due: none

chore(main): release 2.2.0
  CHANGELOG.md
  package.json
Due: lint

docs: update related to llm model used
  .env.template
  README.md
Due: lint

docs: update related to llm model used (#88)
  .env.template
  README.md
Due: lint

chore(main): release 2.2.0 (#86)
  CHANGELOG.md
  package.json
Due: lint

feat(air): parsing transaction is done via pdf position and transaction fee is added to the value
  .github/workflows/monthly-etl.yml
  .gitignore
  2DO.md
  src/features/parseAirTransactions.ts
Due: typecheck, lint

docs, feat(air) (#89)
  .github/workflows/monthly-etl.yml
  .gitignore
  2DO.md
  src/features/parseAirTransactions.ts
Due: typecheck, lint

Revert "docs, feat(air) (#89)"
  .github/workflows/monthly-etl.yml
  .gitignore
  2DO.md
  src/features/parseAirTransactions.ts
Due: typecheck, lint

Revert "docs, feat(air) (#89)" (#90)
  .github/workflows/monthly-etl.yml
  .gitignore
  2DO.md
  src/features/parseAirTransactions.ts
Due: typecheck, lint

chore(main): release 2.3.0
  CHANGELOG.md
  package.json
Due: lint

chore(main): release 2.3.0 (#92)
  CHANGELOG.md
  package.json
Due: lint

chore(main): release 2.4.0
  CHANGELOG.md
  package.json
Due: lint

chore: add CLAUDE.md, update graphify outputs, ignore cache
  .gitignore
  CLAUDE.md
  graphify-out/cost.json
  graphify-out/graph.json
  graphify-out/manifest.json
Due: lint

fix(air): handle pages without transaction terminators
  src/features/parseAirTransactions.ts
Due: typecheck, lint
