Repository davidzoufaly/finance-mgn: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck, lint

lefthook.yml:

#   Refer for explanation to following link:
#   https://lefthook.dev/configuration/

commit-msg:
  jobs:
    - run: yarn commitlint --edit "$1" --config ./config/commitlint.config.mjs

pre-commit:
  parallel: false
  commands:
    biome:
      run: |
        biome check --apply {staged_files}
        git add {staged_files}

    typecheck:
      glob: "*.{ts,tsx}"
      run: yarn typecheck

    lint:
      glob: "*.{js,mjs,cjs,ts,tsx,json,md,yaml}"
      run: yarn lint:fix

feat: adjust generic prompt to return only strings
  src/static/prompts/generic-prompt.txt
Due: none

feat: update generic prompt
  src/static/prompts/generic-prompt.txt
Due: none

feat: limit number of transactions sent to LLM to 150
  .gitignore
  2DO.md
  README.md
  src/features/labelTransactions.ts
  src/static/prompts/generic-prompt.txt
Due: typecheck, lint

feat: 3 retries on LLM
  2DO.md
  src/features/labelTransactions.ts
  src/features/main.ts
  src/static/prompts/generic-prompt.txt
Due: typecheck, lint

feat: improve email content
  .github/workflows/runMonthly.yml
  2DO.md
  src/features/createEmailBody.ts
  src/static/email-template.html
Due: typecheck, lint

feat: email body content
  .github/workflows/runMonthly.yml
  src/features/createEmailBody.ts
  src/features/main.ts
  src/static/email-template.html
Due: typecheck, lint

feat: email body content 2
  .github/workflows/runMonthly.yml
  2DO.md
  src/features/createEmailBody.ts
  src/static/email-template.html
Due: typecheck, lint

feat: email body content 3
  src/static/email-template.html
Due: none

feat: improve email body creation 2
  .github/workflows/runMonthly.yml
  src/features/createEmailBody.ts
  src/static/email-template.html
  src/utils/currency.ts
  src/utils/index.ts
Due: typecheck, lint

feat: improve CI github variables replacement
  .github/workflows/runMonthly.yml
  README.md
  src/static/email-template.html
Due: lint

fix: footer generated date time
  .github/workflows/runMonthly.yml
  2DO.md
  src/features/createEmailBody.ts
  src/static/email-template.html
Due: typecheck, lint

refactor: email generation final touch
  2DO.md
  src/features/createEmailBody.ts
  src/features/labelTransactions.ts
  src/static/email-template.html
  src/utils/index.ts
  src/utils/utils.ts
Due: typecheck, lint

refactor: email generation final touch 2
  2DO.md
  src/features/createEmailBody.ts
  src/static/email-template.html
Due: typecheck, lint

fix(email): add locale for footer timestamp
  2DO.md
  src/features/createEmailBody.ts
Due: typecheck, lint

fix(email): color and font size workflow details section
  2DO.md
  src/static/email-template.html
Due: lint

fix(mail): fix color of status indicator text
  2DO.md
  src/static/email-template.html
Due: lint

fix(air): change date from execution date to accounting date
  .github/workflows/runMonthly.yml
  2DO.md
  src/features/createEmailBody.ts
  src/features/dataFederation.ts
  src/features/parseAirTransactions.ts
Due: typecheck, lint

refactor(email): remove seen/unseen logic
  2DO.md
  src/constants/constants.ts
  src/features/fetchEmailAttachment.ts
  src/features/main.ts
Due: typecheck, lint

refactor(app): use single month constant in main flow
  src/features/dataFederation.ts
  src/features/fetchFioTransactions.ts
  src/features/main.ts
Due: typecheck, lint

refactor(google): cleanup specific month, last 3 months check for fio, cleanup refactor
  2DO.md
  README.md
  src/constants/appArguments.ts
  src/constants/constants.ts
  src/features/fetchFioTransactions.ts
  src/features/googleSheetService.ts
  src/features/main.ts
Due: typecheck, lint

docs(readme): improved dx part
  2DO.md
  README.md
Due: lint

chore(release): 1.6.0
  CHANGELOG.md
  package.json
Due: lint

ci(repo): automatic releases
  .github/workflows/monthly-etl.yml
  .github/workflows/release-please.yml
  .github/workflows/unit-tests.yml
  package.json
  yarn.lock
Due: lint

chore(main): release 1.0.0
  CHANGELOG.md
Due: lint

chore(main): release 2.0.0
  CHANGELOG.md
Due: lint

chore(repo): unify changelog
  CHANGELOG.md
  package.json
Due: lint

ci(release): release type nod
  .github/workflows/release-please.yml
Due: none

fix(unit-tests): reflect expected values with addding new cases
  src/integrationTests/getTestsSubset.test.ts
Due: typecheck, lint

refactor: target month passed from top as date type
  2DO.md
  README.md
  src/features/fetchFioTransactions.ts
  src/features/googleSheetService.ts
  src/features/main.ts
Due: typecheck, lint

docs(readme): adding info about release
  README.md
Due: lint

fix: 2do
  2DO.md
Due: lint

chore(main): release 2.0.1
  CHANGELOG.md
  package.json
Due: lint

chore(main): release 2.0.1 (#54)
  CHANGELOG.md
  package.json
Due: lint

fix(changelog): remove merge commits from changelog
  CHANGELOG.md
Due: lint

fix(changelog): remove merge commits from changelog (#58)
  CHANGELOG.md
Due: lint

chore(main): release 2.0.2
  CHANGELOG.md
  package.json
Due: lint

chore(main): release 2.0.2 (#59)
  CHANGELOG.md
  package.json
Due: lint
