Repository davidzoufaly/finance-mgn: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck, lint

lefthook.yml:

#   Refer for explanation to following link:
#   https://lefthook.dev/configuration/

commit-msg:
  jobs:
    - run: yarn commitlint --edit "$1" --config ./config/commitlint.config.mjs

pre-commit:
  parallel: false
  commands:
    biome:
      run: |
        biome check --apply {staged_files}
        git add {staged_files}

    typecheck:
      glob: "*.{ts,tsx}"
      run: yarn typecheck

    lint:
      glob: "*.{js,mjs,cjs,ts,tsx,json,md,yaml}"
      run: yarn lint:fix

feat: ts docs generated
  src/constants/appArguments.ts
  src/constants/constants.ts
  src/features/fetchFioTransactions.ts
  src/features/googleSheetService.ts
  src/features/labelTransactions.ts
  src/features/main.ts
  src/features/parseAirTransactions.ts
  src/index.ts
  src/integration-tests/integrationTestCases.ts
  src/integration-tests/testRunner.ts
  src/types/types.ts
Due: typecheck, lint

feat: adding generated docs
  .gitignore
  2DO.md
  README.md
  biome.json
  lefthook.yml
  package.json
  src/constants/appArguments.ts
  src/constants/constants.ts
  src/features/dataFederation.ts
  src/features/fetchEmailAttachment.ts
  src/features/fetchFioTransactions.ts
  src/features/googleSheetService.ts
  src/features/labelTransactions.ts
  src/features/parseAirTransactions.ts
  src/index.ts
  src/integration-tests/testRunner.ts
  src/types/types.ts
  tsconfig.json
  typedoc.json
  yarn.lock
Due: typecheck, lint

chore: configs moved to /config
  2DO.md
  config/tsup.config.ts
  config/typedoc.json
  package.json
Due: typecheck, lint

chore: test
  config/lefthook.yml
Due: none

test: revive unit tests for get subtests
  2DO.md
  config/typedoc.json
  config/vite.config.ts
  lefthook.yml
  package.json
  src/integration-tests/testRunner.test.ts
  src/integration-tests/testRunner.test.txt
  src/types/types.ts
  yarn.lock
Due: typecheck, lint

chore(release): 1.1.0
  CHANGELOG.md
  package.json
Due: lint

feat: new github actions
  .github/integrationTests.yml
  .github/unitTests.yml
  2DO.md
  README.md
  lefthook.yml
  src/features/dataFederation.ts
  src/features/fetchFioTransactions.ts
  src/features/main.ts
  src/integrationTests/index.ts
  src/integrationTests/integrationTestCases.ts
  src/integrationTests/testRunner.test.ts
  src/integrationTests/testRunner.ts
  src/types/types.ts
  tsconfig.json
  yarn.lock
Due: typecheck, lint

ci: folder structure workflows
  .github/workflows/integrationTests.yml
  .github/workflows/unitTests.yml
Due: none

chore: rename master to main
  .github/workflows/integrationTests.yml
Due: none

refactor: update integration tests
  config/tsup.config.ts
  src/constants/appArguments.ts
  src/integrationTests/index.ts
  src/integrationTests/integrationTestsMain.ts
  src/integrationTests/testRunner.ts
Due: typecheck, lint

ci: adjusted integration tests pipeline
  .github/workflows/integrationTests.yml
  2DO.md
  README.md
Due: lint

ci: change int. tests workflow
  .github/workflows/integrationTests.yml
Due: none

chore: update readme
  .github/unitTests.yml
  2DO.md
  README.md
  docs/functions/integrationTests_testRunner.getTestsSubset.html
  docs/functions/integrationTests_testRunner.runReset.html
  docs/functions/integrationTests_testRunner.runTest.html
  docs/functions/integrationTests_testRunner.runTests.html
  docs/functions/integrationTests_testRunner.sleep.html
  docs/media/CHANGELOG.md
  docs/media/package.json
  docs/media/tsconfig.json
  docs/modules/integrationTests.html
  docs/modules/integrationTests_integrationTestCases.html
  docs/modules/integrationTests_testRunner.html
  docs/types/integrationTests_testRunner.IntegrationTestsArgv.html
  docs/variables/integrationTests_integrationTestCases.integrationTestCases.html
  docs/variables/integrationTests_testRunner.RESET_CASE.html
  docs/variables/integrationTests_testRunner.testCaseArgv.html
Due: lint

ci: add app start workflow
  .github/unitTests.yml
  .github/workflows/runMonthly.yml
  package.json
  src/features/dataFederation.ts
Due: typecheck, lint

ci: add app start workflow 2
  .github/workflows/runMonthly.yml
  .nvmrc
Due: none

chore: update env with arrays
  .github/workflows/runMonthly.yml
Due: none

ci: update run monthly
  .env.template
  .github/workflows/runMonthly.yml
  .github/workflows/unitTests.yml
  2DO.md
  README.md
  src/constants/constants.ts
  src/features/fetchEmailAttachment.ts
  src/features/main.ts
  src/features/parseAirTransactions.ts
Due: typecheck, lint

ci: update SMTP secrets
  .github/workflows/runMonthly.yml
  src/features/googleSheetService.ts
Due: typecheck, lint

chore: final touches
  .env.template
  .github/workflows/runMonthly.yml
  2DO.md
  README.md
  package.json
  src/constants/constants.ts
  src/integrationTests/getTestsSubset.test.ts
  src/integrationTests/getTestsSubset.ts
  src/integrationTests/index.ts
  src/integrationTests/testRunner.ts
Due: typecheck, lint

chore(release): 1.3.0
  CHANGELOG.md
  package.json
Due: lint

docs: update 2DO.md
  2DO.md
Due: lint

docs: update readme
  README.md
Due: lint

chore(release): 1.4.1
  CHANGELOG.md
  package.json
Due: lint

docs: update readme
  README.md
  src/features/parseAirTransactions.ts
Due: typecheck, lint

feat: unify emoji width
  src/features/googleSheetService.ts
  src/features/main.ts
  src/features/parseAirTransactions.ts
  src/integrationTests/testRunner.ts
Due: typecheck, lint

fix: update EMAIL_IMAP_PORT secret/variable
  .github/workflows/runMonthly.yml
  src/constants/constants.ts
  src/features/fetchEmailAttachment.ts
Due: typecheck, lint

fix: emoji width
  src/features/fetchEmailAttachment.ts
Due: typecheck, lint

feat: run automation at noon 1st day of the month
  .github/workflows/runMonthly.yml
Due: none

fix: email credentials
  .github/workflows/runMonthly.yml
Due: none

feat: unique emoji
  src/features/fetchEmailAttachment.ts
Due: typecheck, lint

fix: typo in email notification
  .github/workflows/runMonthly.yml
  2DO.md
Due: lint

feat: adding ability to fetch any month
  2DO.md
  README.md
  src/constants/appArguments.ts
  src/constants/constants.ts
  src/features/fetchEmailAttachment.ts
  src/features/fetchFioTransactions.ts
  src/features/labelTransactions.ts
  src/features/main.ts
  src/integrationTests/integrationTestCases.ts
  src/integrationTests/testRunner.ts
  src/types/types.ts
  src/utils/date.ts
  src/utils/index.ts
  tsconfig.json
Due: typecheck, lint

feat: add script output to email body
  .github/workflows/runMonthly.yml
  src/features/createEmailBody.ts
  src/features/index.ts
  src/features/main.ts
Due: typecheck, lint

feat: skip marking email seen when checking specific month
  2DO.md
  src/features/fetchEmailAttachment.ts
Due: typecheck, lint

feat: update generic prompt
  src/static/prompts/generic-prompt.txt
Due: none
