Repository davidzoufaly/finance-mgn: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck, lint

typecheck:
  run: yarn typecheck

lint:
  run: yarn lint:fix

docs(changelog): remove old package mention
  CHANGELOG.md
Due: lint

docs(changelog): remove old package mention (#60)
  CHANGELOG.md
Due: lint

chore(release): whitelabel all commit types to changelog
  .github/workflows/release-please.yml
  config/release-please-config.json
Due: lint

dzo (#61)
  .github/workflows/release-please.yml
  config/release-please-config.json
Due: lint

Revert "dzo (#61)"
  .github/workflows/release-please.yml
  config/release-please-config.json
Due: lint

Revert "dzo (#61)" (#62)
  .github/workflows/release-please.yml
  config/release-please-config.json
Due: lint

chore(release): path to release config
  .github/workflows/release-please.yml
Due: none

chore(release): path to release config (#65)
  .github/workflows/release-please.yml
Due: none

chore: remove release config
  .github/workflows/release-please.yml
  config/release-please-config.json
Due: lint

chore: ci jobs names
  .github/workflows/monthly-etl.yml
  .github/workflows/release-please.yml
  .github/workflows/unit-tests.yml
Due: none

chore: release please name
  .github/workflows/release-please.yml
Due: none

ci: workflows permissions
  .github/workflows/monthly-etl.yml
  .github/workflows/unit-tests.yml
  2DO.md
Due: lint

refactor: sheetname notation
  src/constants/constants.ts
  src/features/googleSheetService.ts
  src/features/main.ts
Due: typecheck, lint

refactor: sheetname notation
  src/features/googleSheetService.ts
  src/features/main.ts
Due: typecheck, lint

ci: adding code quality check
  .github/workflows/codeql.yml
Due: none

feat(sheet): new public sheet version with many more calculations
  2DO.md
  README.md
Due: lint

feat(sheet): new public sheet version with many more calculations (#76)
  2DO.md
  README.md
Due: lint

chore(main): release 2.1.0
  CHANGELOG.md
  package.json
Due: lint

chore(main): release 2.1.0 (#77)
  CHANGELOG.md
  package.json
Due: lint

docs(readme): new intro paragraph and image included
  README.md
  src/static/images/overview.png
Due: lint

docs(readme): new intro paragraph and image included (#78)
  README.md
  src/static/images/overview.png
Due: lint

docs(readme): new overview pic
  src/static/images/overview.png
Due: none

docs(readme): new overview pic (#79)
  src/static/images/overview.png
Due: none

docs(readme): add missing secrets for workflow automation
  README.md
Due: lint

docs(readme): add missing secrets for workflow automation (#80)
  README.md
Due: lint

docs(readme): releases enhancement
  README.md
Due: lint

docs(readme): releases enhancement (#81)
  README.md
Due: lint

ci: cq workflow
  .github/workflows/codeql.yml
  README.md
Due: lint

ci: cq workflow (#82)
  .github/workflows/codeql.yml
  README.md
Due: lint

feat(fio): add recipient message for all transactions
  2DO.md
  package.json
  src/features/dataFederation.ts
  src/features/fetchFioTransactions.ts
Due: typecheck, lint

Dzo (#83)
  2DO.md
  package.json
  src/features/dataFederation.ts
  src/features/fetchFioTransactions.ts
Due: typecheck, lint

chore: 2do update
  2DO.md
Due: lint

chore: 2do update (#84)
  2DO.md
Due: lint

fix(sheets): do not return undefined in log when there are no transactions fetched from chrome
  .gitignore
  2DO.md
  README.md
  src/features/googleSheetService.ts
Due: typecheck, lint

fix(sheets): do not return undefined in log when there are no transactions fetched from chrome (#85)
  .gitignore
  2DO.md
  README.md
  src/features/googleSheetService.ts
Due: typecheck, lint

Path conditions:
  typecheck: any of: *.{ts,tsx}
  lint: any of: *.{js,mjs,cjs,ts,tsx,json,md,yaml}
